<div class="container w-50 my-5">
    <div class="loginForm bg-dark">
        <div class="title text-white">
            Login Form
        </div>
        <p *ngIf="isValidFormSubmitted && (loginForm.controls['email'].pristine ||loginForm.controls['password'].pristine )" class="text-danger">
            Please Enter Your Email And Password.
        </p>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="row mt-3">
                <!-- Email -->
                <div class="col-12 form_wrapper">
                    <label class="formLabel">Email</label>
                    <div>
                    </div>
                    <input class="w-100" formControlName="email" type="email" placeholder="Example@mail.com">
                    <div
                        *ngIf="loginForm.controls['email'].errors && isValidFormSubmitted != null && !isValidFormSubmitted">
                        <div class="text-danger" *ngIf="loginForm.controls['email'].errors?.['pattern']">
                            Email Not Valid.
                        </div>
                        <div class="text-danger" *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid">
                            Email is required.
                        </div>
                    </div>
                </div>
                <!-- Password -->
                <div class="col-12 form_wrapper mt-2">
                    <label class="formLabel">Password</label>
                    <div>
                        <input class="w-100" formControlName="password" type="password" placeholder="password">
                        <div
                            *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">
                            <div class="text-danger" *ngIf="loginForm.controls['password'].errors?.['required']">
                                Password is required.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Login Button -->
                <div class="col-12 formBtn mt-5">
                    <button type="submit"> Login </button>
                </div>
            </div>
        </form>
    </div>
    <ng-container *ngIf="preloader">
        <span class="loader"></span>
    </ng-container>
</div>