.loginForm {
    text-align: center;
    padding: 20px;
    border-radius: 5px;

    .title {
        font-size: 20px;
    }

    .form_wrapper {
        text-align: start;

        .formLabel {
            color: white;
            font-weight: 600;
            font-size: 18px;
        }
    }

    .formBtn button {
        padding: 4px 80px;
        color:rgb(112, 122, 115);
        border: 2px solid rgb(124, 136, 127);
        border-radius: 5px;
        font-weight: 700;
        font-size: 18px;
        box-shadow: 1px 1px 5px 0px rgba(0, 255, 64, 0.35);
        -webkit-box-shadow: 1px 1px 5px 0px rgba(136, 224, 158, 0.35);
        -moz-box-shadow: 1px 1px 5px 0px rgba(136, 224, 158, 0.35);
    }
}

input {
    padding: 4px 10px ;
}